@font-face {
  font-family: "Times New Roman";
  src: url("../../font/font-times-new-roman.ttf") format("truetype");
}

.sub-menu-container {
  margin-top: 32px;
  background-color: #f8eded;
  border: 1px solid #e88f8f;
  border-radius: 20px;
  font-size: 14px;
  padding: 20px 20px;
  min-width: 25%;

  .sub-menu-content {
    background-color: #fff;
    font-family: "Times New Roman", serif;

    padding: 32px;

    &-header-title {
      margin-top: 8px;
      text-align: center;
      line-height: 20px;
    }

    &-header-infomation {
      margin-top: 4px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      line-height: 16px;
    }

    &-title {
      margin-top: 32px;
      text-align: center;
      line-height: 20px;
    }

    &-main {
      margin-top: 36px;

      &-feature-item {
        line-height: 20px;
        display: flex;
        justify-content: space-between;

        &:last-child {
          justify-content: flex-end;
        }
      }

      &-feature-table {
        margin-top: 12px;

        .table-list-sub-menu {
          margin-top: 8px;
          border-radius: 0;
          box-shadow: none;

          input[type="number"] {
            width: 50px;
          }
        }

        .add-row-button {
          margin-top: 4px;
          text-align: center;

          .add-row-icon {
            cursor: pointer;
            border: 2px solid #000;
          }
        }
      }
    }
  }
}

input {
  border: 0;
}
