.profile-panel {
    .profile-panel-container {
        background-color: #FFFAFA;
        border: 1px solid #E88F8F;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 12px 0 120px 32px;

        &-title {
            font-size: 24px;
        }

        &-detail {
            padding: 24px;
            display: flex;
            column-gap: 80px;

            &-avatar {
                width: 187px;
                height: 240px;
                background-color: #F5E8DD;
            }

            &-description {
                font-size: 24px;

                &-content {
                    display: flex;
                    column-gap: 40px;

                    .profile-detail-field {
                        width: 120px;
                    }
                }
            }
        }
    }
}